.bg-gradient-to-r {
  padding-left: 64px;
  padding-right: 64px;
}
.bg-gradient-to-r nav{
    padding-left: 10px;
    padding-right: 100px;
    
}
html {
    scroll-behavior: smooth;
  }
  
  * {
    scroll-margin-top: 100px;
  }
  

  .writing-vertical-rl {
  writing-mode: vertical-rl;
}


